@using S1640.Models;
@model S1640.Models.ReportListValidation
@{
    Layout = null;

    S1640Entities conn = new S1640Entities();
    var CoumpanyList = (from CO in conn.Companies
                        where CO.DeleteStatus == "N"
                        select new
                        {
                            CompName = CO.CompName,
                            Address1 = CO.Address1,
                            Address2 = CO.Address2,
                            Address3 = CO.Address3,
                            GSTIN = CO.GSTIN,
                            Email = CO.SalesEmail,
                            Phone = CO.PhoneNo,
                            CIN = CO.CIN,
                            WebSite = CO.Website,
                        }).FirstOrDefault();

    var AllList = conn.InawardTables.Where(s => s.Remarks2 != "Unloaded" && s.Status == "Unclean" && s.CreatedOn >= Model.FromDate && s.CreatedOn <= Model.ToDate).GroupBy(x => x.BarCode).Select(g => g.OrderByDescending(x => x.CreatedOn).FirstOrDefault()).OrderByDescending(x => x.BarCode).ToList();
    if (Model.BarCode != null)
    {
        AllList = conn.InawardTables.Where(s => s.BarCode == Model.BarCode && s.Remarks2 != "Unloaded" && s.Status == "Unclean" && s.CreatedOn >= Model.FromDate && s.CreatedOn <= Model.ToDate).GroupBy(x => x.BarCode).Select(g => g.OrderByDescending(x => x.CreatedOn).FirstOrDefault()).OrderByDescending(x => x.BarCode).ToList();
    }

}


<html>
<head>
    <title> Transaction Report(Date Range @string.Format("{0:dd-MM-yyyy}", Model.FromDate)  to  @string.Format("{0:dd-MM-yyyy}", Model.ToDate)) </title>
    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.css" />

    <!-- Invoice Print Style -->
    <link rel="stylesheet" href="~/Content/css/invoice-print.css" />
    <style>
        h6, h4, p {
            margin: 0px;
            padding: 0px;
        }

        .fixed {
            position: fixed;
            width: 100%;
            bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="text-right fixed-top" id="divPrint">
        <a id="Print" href="#" onclick="printpage()" class="btn btn-success btn-sm">Print</a>
        <a id="Back" href="Index" class="btn btn-success btn-sm">Back</a>
    </div>

    <table class="report-container" style="width:100%; border: 1px solid gray;">
        <thead class="report-header">
            <tr>
                <th class="report-header-cell">
                    <div class="header-info">
                        <div id="div_print" class="invoice">
                            <header class="clearfix">
                                <table width="100%">
                                    <tr>
                                        <td width="35%" class="text-left"> <img src="~/Content/img/projects/SawariyaLogo.png" alt="login" style="padding-left: 8px;height:100px;width:150px" />
                                        <td width="50%" class="text-left" style="border-right: 1px solid;"><h5 class="font-weight-extra-bold h4"><b>Inward Report</b></h5></td>

                                    </tr>
                                </table>
                            </header>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="report-content">
            <tr>
                <td class="report-content-cell">
                    <div class="main">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div>
                                    <table style="width: 100%;" border="1">
                                        <thead>
                                            <tr class="text-dark" style="text-align: center;">
                                                <th width="4%">SL.No.</th>
                                                <th width="8%">BarCode</th>
                                                <th width="9%">BinCondition</th>
                                                <th width="7%">BinFillStatus</th>
                                                <th width="5%">BinWash</th>
                                                <th width="5%">Date & Time</th>
                                                <th width="5%">Status</th>

                                                @*<th width="5%">Pallet No</th>
                                                    <th width="5%">Status </th>
                                                    <th width="5%">Operation </th>
                                                    <th width="6%">User Name</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int rowNo = 0; }
                                            @foreach (var item in AllList)
                                            {

                                                <tr>
                                                    <td class="text-sm-right"><h6 style="margin-right:5px;">@(rowNo += 1)</h6></td>
                                                    <td class="text-sm-center"><h6 style="margin-right:5px;">@item.BarCode</h6></td>
                                                    <td class="text-sm-center"><h6 style="margin-right:5px;">@item.BinCondition</h6></td>
                                                    <td class="text-sm-center"><h6 style="margin-right:5px;">@item.BinFillStatus</h6></td>
                                                    <td class="text-sm-center"><h6 style="margin-left:5px;">@item.BinWash</h6></td>
                                                    <td class="text-sm-center"><h6 style="margin-left:5px;">@item.DocDate</h6></td>
                                                    <td class="text-sm-center"><h6 style="margin-left:5px;">@item.Status</h6></td>

                                                    @*<td class="text-sm-left"><h6 style="margin-left:5px;">@item.ItemStatus</h6></td>
                                                        <td class="text-sm-left"><h6 style="margin-left:5px;">@item.Operation</h6></td>
                                                        <td class="text-sm-left"><h6 style="margin-left:5px;">@item.UserName</h6></td>*@

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        function printpage() {
            //var printContents = document.getElementById(divName).innerHTML;
            //var originalContents = document.body.innerHTML;
            var printButton = document.getElementById("Back");
            var printButton1 = document.getElementById("Print");
            var printButton2 = document.getElementById("divPrint");
            //document.getElementById('header').style.display = 'none';
            //document.getElementById('footer').style.display = 'none';
            //document.body.innerHTML = printContents;
            printButton.style.visibility = 'hidden';
            printButton1.style.visibility = 'hidden';
            printButton2.style.visibility = 'hidden';
            window.print()
            printButton.style.visibility = 'visible';
            printButton1.style.visibility = 'visible';
            printButton2.style.visibility = 'visible';
            //document.body.innerHTML = originalContents;
        }
    </script>

    <script type="text/javascript">
        $(document).on('click', '#backLink', function () {
            history.go(-1);
        });
    </script>
    <script type="text/javascript">

    </script>

</body>
</html>