@using S1640.Models;
@model S1640.Models.ReportListValidation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    S1640Entities conn = new S1640Entities();
    var CoumpanyList = (from CO in conn.Companies
                        where CO.DeleteStatus == "N"
                        select new
                        {
                            CompName = CO.CompName,
                            Address1 = CO.Address1,
                            Address2 = CO.Address2,
                            Address3 = CO.Address3,
                            GSTIN = CO.GSTIN,
                            Email = CO.SalesEmail,
                            Phone = CO.PhoneNo,
                            CIN = CO.CIN,
                            WebSite = CO.Website,
                        }).FirstOrDefault();

    var AllList = (from OM in conn.Transactions
                   join CM in conn.InawardTables
                   on OM.MTransNo equals CM.MTransNo
                   where OM.Status == "LOADED"
                   select new
                   {
                       MTransNo = OM.MTransNo,
                       BarCode = OM.BarCode,
                       BinCondition = OM.BinCondition,
                       BinFillStatus = OM.BinFillStatus,
                       BinWash = OM.BinWash,
                       Remarks = OM.Remarks1,
                       Status = OM.Status,
                       //DocNo = OM.DocNo,

                   }).OrderBy(x => x.MTransNo).Distinct().ToList();
    if (Model.BarCode != null)
    {
        AllList = (from OM in conn.Transactions
                   join CM in conn.InawardTables
                   on OM.MTransNo equals CM.MTransNo
                   where  OM.BarCode == Model.BarCode && OM.Status == "LOADED"
                   select new
                   {
                       MTransNo = OM.MTransNo,
                       BarCode = OM.BarCode,
                       BinCondition = OM.BinCondition,
                       BinFillStatus = OM.BinFillStatus,
                       BinWash = OM.BinWash,
                       Remarks = OM.Remarks1,
                       Status = OM.Status,
                   }).OrderBy(x => x.MTransNo).Distinct().ToList();
    }
    //else if (Model.BinCondition == "Good")
    //{
    //    AllList = (from OM in conn.Transactions
    //               join CM in conn.InawardTables
    //               on OM.BarCode equals CM.BarCode
    //               where OM.CreatedOn >= Model.FromDate && OM.CreatedOn <= Model.ToDate && OM.BinCondition == "Good" && OM.Status == "LOADED"
    //               select new
    //               {
    //                   MTransNo = CM.MTransNo,
    //                   BarCode = CM.BarCode,
    //                   BinCondition = CM.BinCondition,
    //                   BinFillStatus = CM.BinFillStatus,
    //                   BinWash = CM.BinWash,
    //                   Remarks = CM.Remarks1,
    //                   Status = CM.Status,
    //                   //DocNo = OM.DocNo,
    //               }).OrderBy(x => x.MTransNo).Distinct().ToList();
    //}
    //else if (Model.BinCondition == "Broken")
    //{
    //    AllList = (from OM in conn.Transactions
    //               join CM in conn.InawardTables
    //               on OM.BarCode equals CM.BarCode
    //               where OM.CreatedOn >= Model.FromDate && OM.CreatedOn <= Model.ToDate && OM.BinCondition == "Broken" && OM.Status == "LOADED"
    //               select new
    //               {
    //                   MTransNo = OM.MTransNo,
    //                   BarCode = OM.BarCode,
    //                   BinCondition = OM.BinCondition,
    //                   BinFillStatus = OM.BinFillStatus,
    //                   BinWash = OM.BinWash,
    //                   Remarks = OM.Remarks1,
    //                   Status = OM.Status,
    //                   //DocNo = OM.DocNo,
    //               }).OrderBy(x => x.MTransNo).Distinct().ToList();
    //}
    //else if (Model.BinFillStatus == "Fill")
    //{
    //    AllList = (from OM in conn.Transactions
    //               join CM in conn.InawardTables
    //               on OM.BarCode equals CM.BarCode
    //               where OM.CreatedOn >= Model.FromDate && OM.CreatedOn <= Model.ToDate && OM.BinFillStatus == "Fill" && OM.Status == "LOADED"
    //               select new
    //               {
    //                   MTransNo = OM.MTransNo,
    //                   BarCode = OM.BarCode,
    //                   BinCondition = OM.BinCondition,
    //                   BinFillStatus = OM.BinFillStatus,
    //                   BinWash = OM.BinWash,
    //                   Remarks = OM.Remarks1,
    //                   Status = OM.Status,
    //                   //DocNo = OM.DocNo,
    //               }).OrderBy(x => x.MTransNo).Distinct().ToList();
    //}
    //else if (Model.BinFillStatus == "Empty")
    //{
    //    AllList = (from OM in conn.Transactions
    //               join CM in conn.InawardTables
    //               on OM.BarCode equals CM.BarCode
    //               where OM.CreatedOn >= Model.FromDate && OM.CreatedOn <= Model.ToDate && OM.BinFillStatus == "Empty" && OM.Status == "LOADED"
    //               select new
    //               {
    //                   MTransNo = OM.MTransNo,
    //                   BarCode = OM.BarCode,
    //                   BinCondition = OM.BinCondition,
    //                   BinFillStatus = OM.BinFillStatus,
    //                   BinWash = OM.BinWash,
    //                   Remarks = OM.Remarks1,
    //                   Status = OM.Status,
    //                   //DocNo = OM.DocNo,
    //               }).OrderBy(x => x.MTransNo).Distinct().ToList();
    //}
    //else if (Model.BinWash == "Wash")
    //{
    //    AllList = (from OM in conn.Transactions
    //               join CM in conn.InawardTables
    //               on OM.BarCode equals CM.BarCode
    //               where OM.CreatedOn >= Model.FromDate && OM.CreatedOn <= Model.ToDate && OM.BinWash == "Wash" && OM.Status == "LOADED"
    //               select new
    //               {
    //                   MTransNo = OM.MTransNo,
    //                   BarCode = OM.BarCode,
    //                   BinCondition = OM.BinCondition,
    //                   BinFillStatus = OM.BinFillStatus,
    //                   BinWash = OM.BinWash,
    //                   Remarks = OM.Remarks1,
    //                   Status = OM.Status,
    //                   //DocNo = OM.DocNo,
    //               }).OrderBy(x => x.MTransNo).Distinct().ToList();
    //}
    //else if (Model.BinWash == "UnWash")
    //{
    //    AllList = (from OM in conn.Transactions
    //               join CM in conn.InawardTables
    //               on OM.BarCode equals CM.BarCode
    //               where OM.CreatedOn >= Model.FromDate && OM.CreatedOn <= Model.ToDate && OM.BinWash == "UnWash" && OM.Status == "LOADED"
    //               select new
    //               {
    //                   MTransNo = OM.MTransNo,
    //                   BarCode = OM.BarCode,
    //                   BinCondition = OM.BinCondition,
    //                   BinFillStatus = OM.BinFillStatus,
    //                   BinWash = OM.BinWash,
    //                   Remarks = OM.Remarks1,
    //                   Status = OM.Status,
    //                   //DocNo = OM.DocNo,
    //               }).OrderBy(x => x.MTransNo).Distinct().ToList();
    //}
    //else
    //{
    //    //AllList = (from OM in conn.Transactions
    //    //           join CM in conn.InawardTables
    //    //           on OM.BarCode equals CM.BarCode
    //    //           where OM.CreatedOn >= Model.FromDate && OM.CreatedOn <= Model.ToDate
    //    //           select new
    //    //           {
    //    //               MTransNo = OM.MTransNo,
    //    //               BarCode = OM.BarCode,
    //    //               BinCondition = OM.BinCondition,
    //    //               BinFillStatus = OM.BinFillStatus,
    //    //               BinWash = OM.BinWash,
    //    //               Remarks = OM.Remarks1,
    //    //               Status = OM.Status,
    //    //           }).OrderBy(x => x.MTransNo).Distinct().ToList();
    //}
}


<title> Inaward Report(Date Range @string.Format("{0:dd-MM-yyyy}", Model.FromDate)  to  @string.Format("{0:dd-MM-yyyy}", Model.ToDate)) </title>
<style>
    h6, h4, h5, p {
        margin: 0px;
        padding: 0px;
    }
</style>
<section role="main" class="content-body">
    <header class="page-header">
        <h2>INWARD REPORT</h2>
        <div class="pt-1 text-right">
            <a href="Index" class="btn btn-success btn-lg ">Back </a>
        </div>
    </header>
    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <div class="card-body" style="margin-top: 60px;">
                    <table class="table table-bordered table-striped mb-0" id="datatable-tabletools">
                        <thead>
                            <tr class="text-dark" style="text-align: center;">
                                <th width="4%">SL.No.</th>
                                <th width="8%">BarCode</th>
                                <th width="9%">BinCondition</th>
                                <th width="7%">BinFillStatus</th>
                                <th width="5%">BinWash</th>
                                <th width="5%">Remarks</th>
                                <th width="5%">Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ int rowNo = 0; }
                            @foreach (var item in AllList)
                            {

                                <tr>
                                    <td class="text-sm-right"><h6 style="margin-right:5px;">@(rowNo += 1)</h6></td>

                                    <td class="text-sm-center"><h6 style="margin-right:5px;">@item.BarCode</h6></td>
                                    <td class="text-sm-center"><h6 style="margin-right:5px;">@item.BinCondition</h6></td>
                                    <td class="text-sm-center"><h6 style="margin-right:5px;">@item.BinFillStatus</h6></td>
                                    <td class="text-sm-center"><h6 style="margin-left:5px;">@item.BinWash</h6></td>
                                    <td class="text-sm-center"><h6 style="margin-left:5px;">@item.Remarks</h6></td>
                                    <td class="text-sm-center"><h6 style="margin-left:5px;">@item.Status</h6></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('click', '#backLink', function () {
            history.go(-1);
        });
    </script>
    <script src="~/Content/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendor/datatables/extras/TableTools/Buttons-1.4.2/js/buttons.print.min.js"></script>
    <script src="~/Content/vendor/datatables/extras/TableTools/JSZip-2.5.0/jszip.min.js"></script>
    <script src="~/Content/vendor/datatables/extras/TableTools/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script src="~/Content/vendor/datatables/extras/TableTools/pdfmake-0.1.32/vfs_fonts.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/Scripts/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/Scripts/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Scripts/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/Scripts/js/examples/examples.datatables.default.js"></script>
    <script src="~/Scripts/js/examples/examples.datatables.row.with.details.js"></script>
    <script src="~/Scripts/js/examples/examples.datatables.tabletools.js"></script>

</section>

