@model S1640.Models.BinMasterValidation
@using S1640.Models;
@{
    S1640Entities conn = new S1640Entities();
    var AllList = conn.BinMasters.OrderBy(x => x.MTransNo).Take(30).ToList();
}

<!-- JsBarcode CDN -->
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>

<table class="table table-bordered table-striped mb-0" id="MyTable" width="100%">
    <thead>
        <tr align="center">
            <th width="10%">Sl No</th>
            <th width="25%">BarCode</th>
            <th width="20%">Status</th>
            <th width="15%">Action</th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in AllList)
        {
            var data = conn.BinMasters.Where(s => s.MTransNo == item.MTransNo).OrderBy(s => s.MTransNo).FirstOrDefault();
            <tr>
                <td align="center">@(rowNo += 1)</td>
                <td align="center">@data.BarCode</td>
                <td align="center" style="display:none;">@data.MTransNo</td>
                @if (@item.Status == "Y")
                {
                    <td align="center">Active</td>
                }
                else
                {
                    <td align="center">Inactive</td>
                }
                <td align="center">
                    <button type="button" class="btn btn-success btn-sm printBarcodeBtn" data-barcode="@item.BarCode">Print Barcode</button>
                    <button type="button" name="DtlEdit" value="@item.MTransNo" class="btn btn-primary DtlDelete btn-xs" data-toggle="tooltip" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Barcode Display Section -->
<!--<div id="barcodeContainer" style="display: none; margin-top: 20px; text-align: center;">
    <h5>Generated Barcode:</h5>
    <svg id="barcode"></svg>
    <button id="printBarcode" class="btn btn-primary mt-2">Print</button>
</div>-->

<!-- Edit/Delete Script -->
<script type="text/javascript">
    $(".DtlDelete").click(function (e) {
        e.preventDefault();
        var MTransNo = $(this).closest('tr').find('td:eq(2)').text();
        var confirmation = confirm("Do you really want to edit this item?");
        if (confirmation) {
            window.location.href = '@Url.Action("DtlDelete", "BinMaster")?MTransNo=' + MTransNo;
        }
    });
</script>

<!-- Barcode Generation & Print Script -->
<script>
    $(document).ready(function () {
        $(".printBarcodeBtn").click(function () {
            var barcodeValue = $(this).data("barcode");

            // Generate barcode
            JsBarcode("#barcode", barcodeValue, {
                format: "CODE128",
                width: 2,
                height: 60,
                displayValue: true
            });

            $("#barcodeContainer").show();
        });

        $("#printBarcode").click(function () {
            var printWindow = window.open('', '_blank');
            var barcodeSVG = document.getElementById("barcode").outerHTML;

            printWindow.document.write(`
                <html>
                <head><title>Print Barcode</title></head>
                <body style="text-align:center; margin-top:50px;">
                    ${barcodeSVG}
                </body>
                </html>
            `);

            printWindow.document.close();
            printWindow.focus();
            printWindow.print();
            printWindow.close();
        });
    });
</script>

<!-- DataTables and Theme Scripts -->
<script src="~/Content/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Content/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/js/theme.js"></script>
<script src="~/Scripts/js/custom.js"></script>
<script src="~/Scripts/js/theme.init.js"></script>
<script src="~/Scripts/js/examples/examples.datatables.tabletools.js"></script>
<script src="~/Scripts/js/examples/examples.datatables.ajax.js"></script>
