@using S1640.Models
@model S1640.Models.InwardValidation
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    S1640Entities conn = new S1640Entities();
    string mUserType = Convert.ToString(Session["UserType"]);
    // Calculate the time difference of 10 minutes from now
    DateTime time = DateTime.Now.AddMinutes(-500);

    // Fetch the records where MTransNo matches and DocDate is within the last 10 minutes
    //var AllList = conn.InawardTables.Where(s => s.DocDate >= time).ToList();
    var AllList = (from IT in conn.InawardTables
                   where IT.DocDate >= time && !conn.LiveStockDatas.Any(LT => LT.BinCode == IT.BarCode && LT.Status == "Loaded")
                   select new
                   {
                       MTransNo = IT.MTransNo,
                       BarCode = IT.BarCode,
                       BinWash = IT.BinWash,
                       BinCondition = IT.BinCondition,
                       BinFillStatus = IT.BinFillStatus
                   }).ToList();

}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Toastify CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<!-- Toastify JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<style>
    .custom-toast {
        background: linear-gradient(to right, #ff416c, #ff4b2b);
        border-radius: 10px;
        padding: 20px 28px;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
        max-width: 600px;
        min-width: 400px;
        text-align: center;
        position: fixed;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        display: none;
    }
</style>
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Inward</h2>
        <div class="right-wrapper text-right" style="margin-right: 2%;">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Home/Index" title="Home">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
            </ol>
        </div>
    </header>
    <!-- start: page -->
    <div class="row">
        <div class="col">
            <section class="card">
                <div class="card-body">
                    <div id="SDisplay" style="margin-top:65px"></div>
                    <div id="customToast" class="custom-toast"></div>
                    <form action="" method="POST" onsubmit="MainSubmit.disabled = true; return true;">
                        @Html.AntiForgeryToken()

                        <div class="form-group row">
                            <!-- Bin Wash Dropdown -->
                            <label class="col-lg-1 control-label   text-lg-right pt-2"> <span class="required">*</span>Bin Wash Status </label>
                            <div class="col-lg-3">
                                @Html.DropDownListFor(model => model.BinClean, null, "", new { @class = "form-control populate", data_plugin_selecttwo = "" })
                                @Html.ValidationMessageFor(model => model.BinClean, "", new { style = "color: red" })
                            </div>
                            <label class="col-lg-1 control-label   text-lg-right pt-2"><span class="required">*</span>Bin Condition</label>
                            <div class="col-lg-3">
                                @Html.DropDownListFor(model => model.BinCondition, null, "", new { @class = "form-control", data_plugin_selecttwo = "" })
                                @Html.ValidationMessageFor(model => model.BinCondition, "", new { style = "color: red" })
                            </div>
                            <!-- Bin Fill Status Dropdown -->
                            <label class="col-lg-1 control-label   text-lg-right pt-2"> <span class="required">*</span>Bin Fill Status  </label>
                            <div class="col-lg-3">
                                @Html.DropDownListFor(model => model.BinFillStatus, null, "", new { @class = "form-control populate", id = "BinFillStatus" })
                                @Html.ValidationMessageFor(model => model.BinFillStatus, "", new { style = "color: red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 control-label   text-lg-right pt-2"> <span class="required">*</span>Bar Code</label>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(model => model.BarCode, new { @class = "form-control", @autofocus = "True", placeholder = "Scan or Enter Barcode" })
                                @Html.ValidationMessageFor(model => model.BarCode, "", new { style = "color: red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <table width="100%" class="table table-bordered table-striped mb-0" id="MyTable">
                                <thead>
                                    <tr class="text-center" style="background-color: dimgrey; color:white;">
                                        <th hidden></th>
                                        <th width="5%">SL No</th>
                                        <th width="20%">BarCode</th>
                                        <th width="7%">Bin Wash Status</th>
                                        <th width="7%">Bin Condition</th>
                                        <th width="7%">Bin Fill Status</th>
                                        <th width="15%">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tableCont">
                                    @{
                                        int rowNo = 0;
                                    }
                                    @foreach (var item in AllList)
                                    {

                                        var enqmst = conn.InawardTables.Where(x => x.MTransNo == item.MTransNo).FirstOrDefault();
                                        <tr>
                                            <td hidden> @item.MTransNo</td>
                                            <td class="text-sm-center">@(++rowNo)</td> <!-- Incremented row number for each item -->
                                            <td>@item.BarCode</td>
                                            <td>@item.BinWash</td>
                                            <td>@item.BinCondition</td>
                                            <td>@item.BinFillStatus</td>
                                            <td class=" text-sm-center">
                                                @if (enqmst != null)
                                                {
                                                    <button type="button" name="DtlEdit" value="@item.MTransNo" id="DtlEdit" class="btn btn-primary DtlEdit btn-xs"><i class="fas fa-pencil-alt"></i></button>
                                                }
                                                else
                                                {
                                                    <button type="button" name="DtlEdit" value="@item.MTransNo" id="DtlEdit" class="btn btn-primary DtlEdit btn-xs"><i class="fas fa-pencil-alt"></i></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- Submit and Cancel Button -->
                        <div class="form-group row">
                            <div class="col-md-12 col-md-offset-2">
                                <div class="text-center">
                                    @Html.HiddenFor(model => model.MTransNo)
                                    <button type="button" id="submitBtn" class="btn btn-success btn-lg">Submit</button>
                                    <a href="/Home/Index" class="btn btn-danger btn-lg">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#BarCode').blur(function () {
          /*  $('#BarCode').on('input', function () {*/
            var MTransNo = $('#MTransNo').val();
            var condition = $('#BinCondition').val();
            var binclean = $('#BinClean').val();
            var binFillStatus = $('#BinFillStatus').val();
            var barcode = $('#BarCode').val();
            $.ajax({
                type: "POST",
                url: "/Inward/AddData",
                data: {
                    MTransNo: MTransNo,
                    condition: condition,
                    binclean: binclean,
                    binfillstatus: binFillStatus,
                    barcode: barcode
                },
                success: function (result) {
                    if (result == "Exist") {
                        $('#customToast').text("This barcode has already been scanned or loaded. Please check and try again.").fadeIn(300).delay(4000).fadeOut(400);
                    }
                    else if (result == "Success")
                    {
                        console.log("Data saved successfully.");
                        location.reload();
                    } else if (result == "NotExist")
                    {
                        $('#customToast').text("Invalid barcode: Not available in BinMaster data.").fadeIn(300).delay(4000).fadeOut(400);

                    } else if (result == "Loaded")
                    {
                        $('#customToast').text("This bin has already been inwarded.").fadeIn(300).delay(4000).fadeOut(400);
                    }
                   
                    // Optionally show a success message or reload data
                },
                error: function (err) {
                    console.error("Error saving data:", err);
                }
            });
        });
    });
    $("#MyTable").on('click', '.DtlEdit', function () {
        /*     event.preventDefault();*/
        /* alert("Hiii");*/
        var currentRow = $(this).closest("tr");
        var MTransNo = currentRow.find("td:eq(0)").html();

        $.ajax({
            type: "GET",
            data: { MTransNo: MTransNo },
            url: "/Inward/AddEdit",
            success: function (result) {
                console.log(result);
                $('#BarCode').val(result.BarCode);
                $('#MTransNo').val(result.MTransNo);
                //$("#BinCondition").val(result.BinCondition);
                //$("#BinWash").val(result.BinWash);
                //$("#BinFillStatus").val(result.BinFillStatus);
                $("#Remarks1").val(result.Remarks1);
                $('#BinCondition').val(result.BinCondition);
                $('#BinWash').val(result.BinWash);
                $('#BinFillStatus').val(result.BinFillStatus);
                $("#select2-BinCondition-container").html(result.BinCondition);
                $("#select2-BinWash-container").html(result.BinWash);
                $("#select2-BinFillStatus-container").html(result.BinFillStatus);
            }
        });
    });
</script>
@Html.Partial("_jsfooter")
