@using S1640.Models
@model S1640.Models.InwardValidation
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    S1640Entities conn = new S1640Entities();
    string mUserType = Convert.ToString(Session["UserType"]);
    // Calculate the time difference of 10 minutes from now
    DateTime time = DateTime.Now.AddMinutes(-500);

    // Fetch the records where MTransNo matches and DocDate is within the last 10 minutes
    //var AllList = conn.InawardTables.Where(s => s.DocDate >= time).ToList();
    var AllList = (from IT in conn.InawardTables
                   where IT.DocDate >= time && !conn.LiveStockDatas.Any(LT => LT.BinCode == IT.BarCode && LT.Status == "Loaded")
                      /*   IT.DocDate >= time && !conn.Transactions.Any(LT => LT.BarCode == IT.BarCode && LT.Status == "Unloaded")*/ &&
                         IT.Remarks2 != "Unloaded"
                   select new
                   {
                       MTransNo = IT.MTransNo,
                       BarCode = IT.BarCode,
                       BinWash = IT.BinWash,
                       BinCondition = IT.BinCondition,
                       BinFillStatus = IT.BinFillStatus
                   }).OrderByDescending(s => s.MTransNo).ToList();

}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Toastify CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<!-- Toastify JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


@*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />*@
<style>
    .custom-toast {
        background: linear-gradient(to right, #ff416c, #ff4b2b);
        border-radius: 10px;
        padding: 20px 28px;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
        max-width: 600px;
        min-width: 400px;
        text-align: center;
        position: fixed;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        display: none;
    }
    #MyTable tbody tr:hover {
        background-color: #d3d3d3;
        cursor: pointer;
    }
</style>

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Inward</h2>
        <div class="right-wrapper text-right" style="margin-right: 2%;">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Home/Index" title="Home">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
            </ol>
        </div>
    </header>
    <!-- start: page -->
    <div class="row">
        <div class="col">
            
            <section class="card">

                @*<div class="card-body">*@
                <div id="SDisplay" style="margin-top:65px"></div>
                <div id="customToast" class="custom-toast"></div>
                <form id="InwardForm" method="POST" onsubmit="MainSubmit.disabled = true; return true;">
                    @Html.AntiForgeryToken()

                    <div class="container mt-4 shadow p-4 rounded bg-white">
                        <!-- Bin Details Dropdowns -->
                        <div class="form-group row">

                            <!-- Bin Wash Dropdown -->
                            <label class="col-lg-1 control-label   text-lg-right pt-2"> <span class="required">*</span>Bin Wash Status </label>
                            <div class="col-lg-3">
                                @Html.DropDownListFor(model => model.BinClean, null, "", new { @class = "form-control populate", data_plugin_selecttwo = "" })
                                @Html.ValidationMessageFor(model => model.BinClean, "", new { style = "color: red" })
                            </div>
                            <label class="col-lg-1 control-label   text-lg-right pt-2">Bin Condition</label>
                            <div class="col-lg-3">
                                @Html.DropDownListFor(model => model.BinCondition, null, "", new { @class = "form-control", data_plugin_selecttwo = "" })
                                @Html.ValidationMessageFor(model => model.BinCondition, "", new { style = "color: red" })
                            </div>
                            <!-- Bin Fill Status Dropdown -->
                            <label class="col-lg-1 control-label   text-lg-right pt-2">Bin Fill Status  </label>
                            <div class="col-lg-3">
                                @Html.DropDownListFor(model => model.BinFillStatus, null, "", new { @class = "form-control populate", id = "BinFillStatus" })
                                @Html.ValidationMessageFor(model => model.BinFillStatus, "", new { style = "color: red" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-1 control-label   text-lg-right pt-2"> <span class="required">*</span>Bar Code</label>
                            <div class="col-lg-3">
                                @Html.TextBoxFor(model => model.BarCode, new { @class = "form-control text-uppercase", @autofocus = "True", placeholder = "Scan or Enter Barcode", maxlength = "6" })
                                @Html.ValidationMessageFor(model => model.BarCode, "", new { style = "color: red" })
                            </div>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive mt-4">
                            <table class="table table-bordered table-striped  align-middle text-center" id="MyTable">
                                <thead class="table-dark">
                                    <tr>
                                        <th hidden></th>
                                        <th width="5%">SL No</th>
                                        <th width="20%">BarCode</th>
                                        <th width="10%">Bin Wash</th>
                                        <th width="10%">Bin Condition</th>
                                        <th width="10%">Bin Fill</th>
                                        <th width="15%">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tableCont">
                                    @{
                                        int rowNo = 0;
                                    }
                                    @foreach (var item in AllList)
                                    {
                                        var enqmst = conn.InawardTables.FirstOrDefault(x => x.MTransNo == item.MTransNo);
                                        <tr>
                                            <td hidden>@item.MTransNo</td>
                                            <td>@(++rowNo)</td>
                                            <td>@item.BarCode</td>
                                            <td>@item.BinWash</td>
                                            <td>@item.BinCondition</td>
                                            <td>@item.BinFillStatus</td>
                                            <td>
                                                @if (@item.BinWash == "Clean")
                                                {
                                                    <button type="button" name="DtlEdit" value="@item.MTransNo" class="btn btn-primary btn-sm DtlEdit" @(item.BinWash == "Clean" ? "disabled" : "")>
                                                        <i class="fas fa-pencil-alt"></i> Edit
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" name="DtlEdit" value="@item.MTransNo" class="btn btn-primary btn-sm DtlEdit">
                                                        <i class="fas fa-pencil-alt"></i> Edit
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- Submit & Cancel -->
                        <div class="text-center mt-4">
                            @Html.HiddenFor(model => model.MTransNo)
                            <a href="/Home/Index" class="btn btn-success btn-lg px-5">
                                <i class="bi bi-check-circle me-2"></i>Submit
                            </a>
                        </div>

                        @*<a href="/Home/Index" class="btn btn-outline-danger btn-lg ms-3 px-4">
                    <i class="bi bi-x-circle me-2"></i>Cancel
                </a>*@
                    </div>
                </form>

                @*</div>*@
            </section>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
      
        $('#BarCode').blur(function () {
            /*  $('#BarCode').on('input', function () {*/
            var MTransNo = $('#MTransNo').val();
            var condition = $('#BinCondition').val();
            var binclean = $('#BinClean').val();
            var binFillStatus = $('#BinFillStatus').val();
            var barcode = $('#BarCode').val().toUpperCase();
            if (binclean.trim() == "" || binclean.trim() == null)
            {
                $('#customToast').text("Please select the BinWash Status").fadeIn(300).delay(4000).fadeOut(400);
                    //(400, function () {
                    //location.reload(); // ✅ Reload after toast fades out
               
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Inward/AddData",
                    data: {
                        MTransNo: MTransNo,
                        condition: condition,
                        binclean: binclean,
                        binfillstatus: binFillStatus,
                        barcode: barcode
                    },
                    success: function (result) {
                        if (result == "Exist") {
                            $('#customToast').text("This barcode has already been scanned or loaded. Please check and try again.").fadeIn(300).delay(4000).fadeOut(400, function () {
                                location.reload(); // ✅ Reload after toast fades out
                            });
                        }
                        else if (result == "Success") {
                            console.log("Data saved successfully.");
                            location.reload();

                        } else if (result == "NotExist") {
                            $('#customToast').text("Invalid barcode: Not available in BinMaster data.").fadeIn(300).delay(4000).fadeOut(400, function () {
                                location.reload(); // ✅ Reload after toast fades out
                            });

                        } else if (result == "Loaded") {
                            $('#customToast').text("This bin has already been Loaded.").fadeIn(300).delay(4000).fadeOut(400, function () {
                                location.reload(); // ✅ Reload after toast fades out
                            });
                        }

                        // Optionally show a success message or reload data
                    },
                    error: function (err) {
                        console.error("Error saving data:", err);
                    }
                });
            }
        });
    });
    $("#MyTable").on('click', '.DtlEdit', function () {
     
        var currentRow = $(this).closest("tr");
        var MTransNo = currentRow.find("td:eq(0)").html();

        $.ajax({
            type: "GET",
            data: { MTransNo: MTransNo },
            url: "/Inward/AddEdit",
            success: function (result) {
                console.log(result);
                $('#BarCode').val(result.BarCode);
                $('#MTransNo').val(result.MTransNo);
                //$("#BinCondition").val(result.BinCondition);
                //$("#BinWash").val(result.BinWash);
                //$("#BinFillStatus").val(result.BinFillStatus);
                $("#Remarks1").val(result.Remarks1);
                $('#BinCondition').val(result.BinCondition);
                $('#BinWash').val(result.BinWash);
                $('#BinFillStatus').val(result.BinFillStatus);
                $("#select2-BinCondition-container").html(result.BinCondition);
                $("#select2-BinWash-container").html(result.BinWash);
                $("#select2-BinFillStatus-container").html(result.BinFillStatus);
            }
        });
    });
</script>
@Html.Partial("_jsfooter")
